@import "defaults";

/* =============================================================================
                   Header
   ========================================================================== */

.header {
  position: relative;
  width: 100%;
  top: 0;
}

.header-container {
  position: relative;
  width: 100%;
  top: 0;
  text-align: center;
  
}

.mainTitle {
  @include h1Title;
  font-size: 3rem;
  top: 6%;
  left: 0;
  right: 0;
  bottom: 0;
}   

.subNav {
  @include subNav;
  top: 14%;
  left: 38%;

  .lilNav {
    font-size: 1.1rem;
    display: inline-block;
    text-align: center;
    margin: 0 30px;
  }
}

.left--header {
  @include sideMenus;
 -moz-transform: rotate(-90deg);  
 -webkit-transform: rotate(-90deg);
 transform: rotate(-90deg);
 position: fixed;
 left: -3%;
 top:45%;
}

.right--header {
  @include sideMenus; 
  -moz-transform: rotate(90deg) translateY(-50);  
  -webkit-transform: rotate(90deg) translateY(-50);
  transform: rotate(90deg) translateY(-50);
  position: fixed;
  right: 1%; 
  top:45%;
}


/* =============================================================================
                   static landing page
   ========================================================================== */

.main .container .content p {
  margin: 0 auto;
  right: 0;
  left: 0;
}

/* =============================================================================
                 About Page
   ========================================================================== */
.page-id-5 {
  // this is the page with the about
  background: white;

  .header-container {
    position: relative;
  }

  .footer-container {
    position: relative;
  }

  .container {
    padding: 0;
  }

  .content {
    padding: 0 15%;
  }

  h2 {
    font-size: 1.1rem;
    line-height: 3.6rem;
    font-variant: small-caps;
    font-size: 1rem;
    display: inline;
    padding: 0;
    font-weight: 900;
    display: inline-block;
    position: relative;
    top: 24px;

  }

  p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    font-family: 'Lora', times, serif;
    font-weight: 800;
  }
}

/* =============================================================================
                 Artist Page
   ========================================================================== */
.postPhoto {
  display: none;
}

.page-id-8 {
  // this is the page with the artists

  .container {
    padding-top: 0;
  }

  .content {
    padding: 0;

    h2 {
      display: inline;
      line-height: 2.8rem;
      padding: 0;
      color: black;
      text-shadow: 0 0 1px rgba(255,255,255,0.5);
      font-family: 'Lora', times, serif;
      text-transform: uppercase;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

/* =============================================================================
                 Exhibition Page
   ========================================================================== */
.page-id-10 {
  // this is the page with the exhibitions
  background: white;

  .container {
    padding-top: 0;
  }

  .content {
    padding-top: 0%;

    h2 {
      display: block;
      line-height: 2.8rem;
      padding: 0;
      color: black;
      text-shadow: 0 0 1px rgba(255,255,255,0.5);
      margin: 0;
      font-family: 'Lora', times, serif;
      text-transform: uppercase;
    }

    p {
      font-variant: small-caps;
      font-size: 1rem;
      display: inline;
      padding: 0;
      font-weight: 900;
      display: inline-block;
      position: relative;
      line-height: 2;
      text-align: center;
    }

    .date {
      top: 0;
      font-size: 0.8rem;
    }

    .singlePostEx {
      padding-bottom: 20px;
    }
  } // end content
} // end page 10

/* =============================================================================
                SINGLE
                 Exhibition Page
   ========================================================================== */

   .single-exhibition {
    .container {
      padding-top: 0;
    }

   } // end single-exhibitions

/* =============================================================================
                 News Page
   ========================================================================== */
.blog {
  // this is the page with the news

  .customize-support {
    margin-top: 0%;
    width: 100%;
    }

  .content {
    text-align: left;
    border-top: 1px solid black;
  }

  .header-container {
    position: relative;
  }

  .entry-title {
    border-top: 1px solid black;
    width: 33%; 
    position: relative;
    top: -20px;
    font-size: 2vw;
    
  }

  .entry-content {
    width: 66%;
    float: right;
    border-top: 1px solid black;
    position: relative;
    top: -3.6rem;
    padding-bottom: 60px; 
    top: -20px;
  }

  .post {
    margin: 30px 0px;
  }

  footer {
    width: 33%;
    float: left;
  }
}


/* =============================================================================
                   Featured Image/ BG
   ========================================================================== */
.bgimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 0;
  text-align: center;

}

/* =============================================================================
                   Single Post
   ========================================================================== */

.single-post {
  text-align: center;

  .content {
    text-align: left;
    padding: 0;
  }
}

/* =============================================================================
                   Footer
   ========================================================================== */

footer {
  // clear:both;
}

.footer-container {
  width: 100%;
  text-align: center;
  position: relative;
  max-height: 0;
  bottom: 0%;

  p {
    font-size: 1rem;
  }
}


/* =============================================================================
                   Navigation
   ========================================================================== */
  ul.menu {
    margin:0;
    padding:0;
  }
    ul.menu li {
      display:inline;
      margin-right: 10px;
    }

      ul.menu li a {
        color:#333;
        padding:10px;
        background:#333;
        color:white;
      }


@import "comments";
@import "normailize";
@import "mediaQueries";
